// Buttons

.button {

	width: 100%;
	text-align: center;

	&:focus {
		outline: 0;
	}

}

.button--primary:extend(.button) {
	padding: 10px 20px;
	font-size: 12px;
	text-transform: uppercase;
	color: #c2c2c2;
	background: @youFM-black;
	border-radius: 4px;
	border: solid 1px @youFM-black--border;
}

.button--secondary:extend(.button)  {
	padding: 15px 0;
	margin: 30px 0 0;
	font-size: 18px;
	font-weight: 500;
	color: #0f454e;
	background: #23d7f5;
	border-radius: 100px;
	border: none;
}